html {
  box-sizing: border-box;
}

*,
*:before,
*:after {
  box-sizing: inherit;
}

body {
  margin: 0;
  font-family: Montserrat, sans-serif;
}

.main-container {
  width: 100%;
  height: 100vh;
  display: flex;
}

/* Left side - image and logo*/
.image-container {
  position: relative;
  width: 37.5%;
  height: 100vh;
}

.image-container .background {
  height: 100%;
  width: 100%;
  object-fit: cover;
}

.image-container .img-credit {
  text-decoration: none;
  color: white;
  position: absolute;
  bottom: 10px;
  left: 25%;
}

.img-credit a {
  color: white;
}


.image-container .logo-container {
  height: 125px;
  width: 100%;
  padding: 5px 50px;
  background-color: rgba(0, 0, 0, 0.349);
  position: absolute;
  top: 160px;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: row;
}

.image-container .logo-container .logo {
  flex-shrink: 1;
  height: 100px;
}

.image-container .logo-container h1 {
  flex-shrink: 1;
  font-weight: 700;
  font-size: 3rem;
}

/* Right side- registration form */
.reg-container {
  font-size: 1.25rem;
  background-color: #612134;
  width: 62.5%;
  display: flex;
  flex-direction: column;
}

.reg-container .reg-message {
  padding: 10rem 2.5rem 1rem 2.5rem;
  color: rgb(243, 243, 243);
}

.reg-container p {
  color: white;
  font-weight: 700;
  margin: 16px 0px;
}


/* Form */
.reg-container .form-container {
  padding: 0.5rem 2rem;
  padding-bottom: 2rem;
  background-color: #86334c;
  box-shadow: 2px 4px rgba(73, 28, 41, 0.507);

}

.reg-container .form-row {
  display: flex;
  justify-content: flex-start;
  flex-wrap: wrap;
}

.reg-container .password-row {
  position: relative;
  padding-bottom: 25px;
}

.form-row label {
  margin: 12px 0 2px 0;
  color: white;
}

.form-row .form-input {
  font-size: 1rem;
  display: flex;
  flex-direction: column;
  margin-right: 50px;
}


input[type="text"],
input[type="email"],
input[type="password"] {
  background-color: #FFFFFF;
  border: 1px solid #D6D9DC;
  border-radius: 3px;
  width: 250px;
  padding: 7px;
  padding-right: 32px;
  font-size: 14px;
}

/* Validation */
/* Invalid */
input[type="text"]:user-invalid,
input[type="email"]:user-invalid,
input[type="password"]:user-invalid {
  color: #D55C5F;
}

input+span {
  position: relative;
}

input:user-invalid+span::before {
  color: red;
  content: '✖';
  position: absolute;
  bottom: 7px;
  right: 8px;
}

/* Valid */
input[type="text"]:user-valid,
input[type="email"]:user-valid,
input[type="password"]:user-valid {
  outline: 1px solid #F05941;
}

input:user-valid+span::before {
  color: green;
  content: '✓';
  font-weight: 900;
  position: absolute;
  bottom: 7px;
  right: 8px;
}

button[type="submit"] {
  margin: 20px 0 0 2rem;
  width: 250px;
  font-size: 16px;
  font-weight: bold;

  color: #FFFFFF;
  background-color: #86334c;

  border: none;
  border-radius: 3px;

  padding: 10px 40px;
  cursor: pointer;
}

.form-input .pass-mismatch {
  position: absolute;
  color: rgb(255, 124, 124);
  bottom: 0px;
  margin: 0;
}